<!-- <div class="btn" (click)="fetchResume()">
    get my resume
</div> -->
<h1 class="text-center m-4">Here Is your Resume !!!</h1>
<div>
  <div class=" p-2 m-2 " *ngFor="let item of data">

    <div class="container" style="width: 70%;">
      <div class="row justify-content-center ">
        <div class="col-md-8 form">
          <div class="resume-section">
            <h2 class="text-center mb-2">{{item.fname}} {{item.lname}} </h2>

            <p class="text-center">{{item.job}}</p>
            <div class="center">
              <p>Email: {{item.linAcc}} </p>
              <p>Phone: {{item.gitAcc}} </p>
            </div>
            <hr>
            <div class="resume-item">
              <h4>Education</h4>
              <p>Bachelor of Science in Computer Science - XYZ University (Year)</p>
            </div>
            <div class="resume-item">
              <h4>Experience</h4>
              <p>Responsibilities:</p>
              <ul *ngFor="let item2 of item.exp">
                <li>{{item2.compTitle}} </li>
                <li>{{item2.certificate}}</li>
                <li>{{item2.compName}}</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Skills</h4>
              <ul>
                <li>{{item.skills}} </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Contact</h4>
              <p>Email: {{item.email}} </p>
              <p>Phone: {{item.mob}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <ng-container *ngIf="!display" >
  <div class="change d-flex autofill"  >
    <a routerLink="/Form"  class="btn btn-primary"> Update</a>
    <a (click)="OnDownloadClick()"  class="btn btn-primary">Download</a>
  </div>
 </ng-container>
</div>