<h1 class="text-center p-4">Inspiration to you !!</h1>

<div class="m-4 row" *ngIf="isLoggedIn == true || isLoggedIn==false">
  <div class="d-flex col flex-wrap" style="width: 50%;">
    <div class="container" *ngFor="let item of allMsg">
      <h1 class="mt-5 mb-4">Feedback Display</h1>
      <!-- Display each message -->
      <div class="feedback">
        <div class="d-flex align-items-center">
          <img src="./../../assets/images.jpg" alt="User" class="user-image">
          <div class="user-info">
            <!-- Display username and message -->
            <h5>{{ item.username}}</h5>
            <p>{{ item.msg }}</p>
          </div>
        </div>
        <!-- Feedback action buttons -->
        <div class="feedback-buttons">
          <button type="button" class="btn btn-primary btn-sm mr-2">Like</button>
          <button type="button" class="btn btn-secondary btn-sm">Reply</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Form to post new feedback -->
  <div class="container form grid col col-lg-4" [formGroup]="reactiveForm">
    <h2 class="text-center">Feel free to connect</h2>
    <!-- Textarea for entering feedback -->
    <textarea name="feedback" class="form-control" formControlName="msg" placeholder="Enter your Query" cols="30" rows="10"></textarea>
    <!-- Button to post feedback -->
    <button class="btn btn-warning my-4" (click)="onPostClicked()">Post</button>
  </div>
</div>
