<h1 class="text-center p-4">Inspiration to you !!</h1>
<div class="m-4 row">
  <div class=" d-flex col  flex-wrap">
    <div class="container">
      <h1 class="mt-5 mb-4">Feedback Display</h1>
  
      <!-- Example feedback items -->
      <div class="feedback">
        <div class="d-flex align-items-center">
          <img src="./../../assets/images.jpg" alt="User 1" class="user-image">
          <div class="user-info">
            <h5>User ID: 12345</h5>
            <p>This is some example feedback from User 1. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, perspiciatis consequatur! Ad illo earum ipsa iste provident unde eius voluptatem voluptas, eligendi error laborum libero pariatur quia quisquam distinctio.</p>
          </div>
        </div>
        <div class="feedback-buttons">
          <button type="button" class="btn btn-primary btn-sm mr-2">  Like</button>
          <button type="button" class="btn btn-secondary btn-sm">Reply</button>
        </div>
      </div>
  
      <div class="feedback">
        <div class="d-flex align-items-center">
          <img src="./../../assets/images.jpg" alt="User 2" class="user-image">
          <div class="user-info">
            <h5>User ID: 67890</h5>
            <p>This is some example feedback from User 2.</p>
          </div>
        </div>
        <div class="feedback-buttons">
          <button type="button" class="btn btn-primary btn-sm mr-2">Like</button>
          <button type="button" class="btn btn-secondary btn-sm">Reply</button>
        </div>
      </div>
  
      <div class="feedback">
        <div class="d-flex align-items-center">
          <img src="./../../assets/images.jpg" alt="User 1" class="user-image">
          <div class="user-info">
            <h5>User ID: 12345</h5>
            <p>This is some example feedback from User 1. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, perspiciatis consequatur! Ad illo earum ipsa iste provident unde eius voluptatem voluptas, eligendi error laborum libero pariatur quia quisquam distinctio.</p>
          </div>
        </div>
        <div class="feedback-buttons">
          <button type="button" class="btn btn-primary btn-sm mr-2">  Like</button>
          <button type="button" class="btn btn-secondary btn-sm">Reply</button>
        </div>
      </div>
  
    </div>
    <!-- <div *ngFor="let item of snippet" class="card m-2" style="width: 18rem;">
      <div class="card-body">
       
        <h5 class="card-title">{{item.fname}} {{item.lname}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{item.job}} </h6>
        <p class="card-text">{{item.profile.slice(0,40)}} </p>
        <a  class="card-link btn btn-primary">View More</a>
      </div>
    </div> -->
  </div>
  <div class="container form grid col col-lg-4">
    <h2 class="text-center">feel free to connect</h2>
    <textarea name="feedback" class="form-control" placeholder="Enter your Query" id="" cols="30" rows="10"></textarea>
    <button class="btn btn-warning my-4 ">Post</button>
  </div>
</div>
