/* You can add global styles to this file, and also import other style files */
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background: rgba(151, 150, 150, 0.169); */
    overflow-x: hidden  ;
}


/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: black; /* color of the thumb on hover */
}


  
  