<div class="container mt-3 justify-content-center">
    <h2 class="text-center"><b>ResumeGen</b> - helper in your career</h2>
    <div class="frontpage  my-4 py-4 " style="display: flex;" >
         <img src="../../assets/two.png" style="width: 50%;" alt="">
         <div class="right p-4">
            <h2>What Resume will do ?</h2>
           <ul>
            <li> <b>Showcase professional experience and qualifications</b>
                Resumes help job seekers create a connection with employers. <br>
                 They can also help recruiters quickly identify who may best fit a given role.</li>
                <li>
                    Grab the attention of employers and recruiters <br>
                    A resume can help sell a candidate's strongest skills and accomplishments.
                </li>
                <li>
                    Display the benefits you offer employers <br>
                    A resume states what a candidate can offer a company, rather than what the business can do for them.
                </li>
                <li>
                    Communicate qualifications and brand <br>
                    A resume can help a candidate stand out in a sea of applicants.
                </li>
           </ul>
     
           
          
         <a href="https://in.indeed.com/career-advice/resumes-cover-letters/why-is-resume-important#:~:text=A%20resume%20is%20a%20vital,after%20submitting%20a%20job%20application%20." target="_blank" rel="noopener noreferrer">   <button class="btn btn-warning" >Read More</button></a>
         </div>

        <!-- <button class="btn btn-danger" routerLink="/Forms" >Resume</button> -->
    </div>
    <div class="frontpage  my-4 py-4 " style="display: flex;" >
        <div class="right  p-4">
             <h2>How to write a good resume</h2> <br>
             <p style=" color: rgb(69, 69, 69);;">    A great resume should have the right content in an easy-to-read format. Moreover, when designing a resume for job portals and online submission, you should also optimize it for easy browsing and search engine visibility. Follow these steps to write an effective and engaging resume: </p>
             <ul >
                <ol class="text-left"> 1. Choose the right formatting</ol>
                <ol class="text-left"> 2. Use a simple and readable design</ol>
                <ol> 3. Focus on your achievements</ol>
                <ol> 4. Include a summary and your contact information</ol>
                <ol> 5. Use keywords</ol>
                <ol> 6. Proofread for errors</ol>
            </ul>
            <button class="btn btn-warning" routerLink="/Forms" > Want To Get Best Resume?? Click Here</button>
        </div>
        <img src="../../assets/three.png" style="width: 50%;" alt="">

       <!-- <button class="btn btn-danger" routerLink="/Forms" >Resume</button> -->
       <!-- <app-carousel></app-carousel> -->
   </div>
</div>

